h1 {
    color: red;
}
h2 {
    color: white;
  }
  body {
    font-size: 14px;
}
p {
  color: black;
}
ol {
  color: rgb(0, 0, 0);
}
 a { 
  color: blue; 
  font-family: sans-serif; font-style: italic;
}
body {
  background-color: white;
}

h1 {
font-weight: bolder; font-size: xx-large;
}
h2 {
  font-weight: bolder; font-size: x-large;
  background-color: red;
}
h3, h4 {
  font-weight: bold; font-size: larger;
  color: black;
}

body {
    border-style: solid;
    border-width: 5px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color:rgb(0, 0, 0);
    border-radius: 10px 10px 10px 10px;    
  }
  img {
border-radius: 200px 200px 200px 200px;
  }
  body {
    margin: 30px;
    padding: 60px;
  }